# Activa el motor de reescritura
RewriteEngine On

# Reinyecta la cabecera Authorization en la variable de entorno para que PHP pueda leerla
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Establece la base de la reescritura; 
# cámbiala o quítala según la carpeta donde tengas tus archivos
RewriteBase /analytics/

# Si la solicitud no coincide con un archivo o directorio existente,
# redirígela a index.php/lo-que-sea
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Pasa el header Authorization a la variable de entorno
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
